<head>
<script>
  function reloadCaptcha(sImgElementId) {
      var oImgElement = document.getElementById(sImgElementId);
      oImgElement.setAttribute('src', "./out.svg" + '?' + Math.random());
      return false;
  }

 setInterval(function() {
    reloadCaptcha ('nlc')
 }, 300);

</script>
</head>
<body>
  <img id="nlc" name="nlc" src="./out.svg"
    onClick="javascript:reloadCaptcha('nlc'); return false;" />
</body>
